.navbar {
    .d-flex {
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

    }
   
    ul {
        display: flex;

        li {
            margin: 0rem 1.2rem;
            font-weight: 500;
            color: #fff;
            font-size: 0.7rem;
        }
    }
}