.u-center-text { text-align: center !important; }

.big-margin-top { margin-top: 5rem !important;} 

.medium-margin-top { margin-top: 2.1rem !important;} 

.small-margin-top { margin-top: 1.1rem !important;} 

.medium-margin-bottom { margin-bottom: 2.1rem !important;} 

.small-margin-bottom { margin-bottom: 1.1rem !important;} 




.big-padding-top { padding-top: 6rem !important;} 

.big-pdding-bottom { padding-bottom: 4rem !important;} 

.medium-pdding-bottom { padding-bottom: 2.1rem !important;}








